{% extends "basic/layout.html" %}
{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%- endblock %}

{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- block linktags %}
    <script src="//cdn.optimizely.com/js/32694127.js"></script>
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
    {%- endif %}
    {%- if hasdoc('search') %}
    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
    {%- endif %}
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags }}" href="{{ parents[-1].link|e }}" />
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags }}" href="{{ next.link|e }}" />
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags }}" href="{{ prev.link|e }}" />
    {%- endif %}
    <link media="only screen and (max-device-width: 480px)" href="{{ pathto('_static/mobile.css', 1) }}" type="text/css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="_static/img/favicon.png" />

    <link rel="stylesheet" href="_static/docs.css" />
    <link rel="stylesheet" href="http://localhost:5000/static/css/main.css" />

{%- endblock %}
{%- block extrahead %}
{{ super() }}

<!-- i2a tracking code-->
<script type="text/javascript"
  src="{{ pathto('_static/i2a.js', 1) }}">
</script>

<!-- Olark chat -->
<script type='text/javascript'>/*<![CDATA[*/ window.olark||(function(k){var g=window,j=document,a=g.location.protocol=="https:"?"https:":"http:",i=k.name,b="load",h="addEventListener";(function(){g[i]=function(){(c.s=c.s||[]).push(arguments)};var c=g[i]._={},f=k.methods.length;while(f--){(function(l){g[i][l]=function(){g[i]("call",l,arguments)}})(k.methods[f])}c.l=k.loader;c.i=arguments.callee;c.p={0:+new Date};c.P=function(l){c.p[l]=new Date-c.p[0]};function e(){c.P(b);g[i](b)}g[h]?g[h](b,e,false):g.attachEvent("on"+b,e);c.P(1);var d=j.createElement("script"),m=document.getElementsByTagName("script")[0];d.type="text/javascript";d.async=true;d.src=a+"//"+c.l;m.parentNode.insertBefore(d,m);c.P(2)})()})({loader:(function(a){return "static.olark.com/jsclient/loader1.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]}); olark.identify('8160-428-10-5523');/*]]>*/</script>

<!-- GA pageLoadVars -->
<script type="text/javascript">
    var pageLoadVars = {
      'visitor_type' : 'Customer',
      'customer_type' : "",
      'coupon_id' : "",
      'signup_state' : 'Inactive',
      'bamGAVPV' : "",
      'customer_action': []
    }
</script>

{% endblock %}
{%- block header %}{% endblock %}
{%- block relbar1 %}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WN2J6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script type="text/javascript" src="{{ pathto('_static/google_tag_manager.js', 1) }}"></script>

<div class="body container docs">

  <div class="content">

    <header>
        <div class="container">
            <a href="/" class="logo">Mailgun - Email Automation by Rackspace</a>
            <nav class="header-nav" id="js-header-nav">
                <a href="/pricing" class="pricing-link"><b>Pricing</b></a>
                <a href="http://documentation.mailgun.com" class="active"><b>Documentation</b></a>
                <a href="/sessions/new" class="login-link"><b>Log in</b></a>
            </nav>
            <button id="js-show-nav"><i class="icon-reorder"></i></button>
        </div>
    </header>

    <div id="body" class="paper cells">

      <div class="subnav">
        <ul id="headerButtons" class="nav nav-pills">
          <li class="lang">
            <a href="" id="bash" >curl</a>
          </li>
          <li class="lang">
            <a href="" id="rb" >Ruby</a>
          </li>
          <li class="lang">
            <a href="" id="py" >Python</a>
          </li>
          <li class="lang">
            <a href="" id="php" >PHP</a>
          </li>
          <li class="lang">
            <a href="" id="java" >Java</a>
          </li>
          <li class="lang">
            <a href="" id="csharp" >C#</a>
          </li>

          {%- block sidebarsearch %}
          {%- if pagename != "search" %}
          <div id="searchbox" style="display: none">
            {# <h3>{{ _('Quick search') }}</h3> #}
            <form>
              <input type="text" id="st-search-input" class="prettysearch" />
            <!--<form class="search" action="{{ pathto('search') }}" method="get">-->
              <!--<div class="search-wrapper">
                <span class="search-left"></span>
                <input class="prettysearch" type="text" name="q" size="18"/>
                <span class="search-right">&nbsp;</span>
              </div>
              <input type="submit" value="{{ _('Search') }}" class="searchbutton" />
              <input type="hidden" name="check_keywords" value="yes" />
              <input type="hidden" name="area" value="default" />-->
            </form>
          </div>
          <script type="text/javascript">$('#searchbox').show(0);</script>
          {%- endif %}
          {%- endblock %}

          <!--
          <li id="page_buttons">
            {%- for rellink in rellinks %}
            <div class="headerButton"><a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}" {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a></div>
            {%- endfor %}
          </li>
          -->
        </ul>
      </div>
{% endblock %}

{%- block sidebar1 %}
{%- if not embedded %}{% if not theme_nosidebar|tobool %}
<div id="sphinxsidebar">
  <div class="sphinxsidebarwrapper">
    {%- block sidebarlogo %}
    {%- if logo %}
      <p class="logo"><a href="{{ pathto(master_doc) }}">
        <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
      </a></p>
    {%- endif %}
    {%- endblock %}
    {%- block sidebartoc %}
    <ul><li class="toctree-l1"><a href="{{ pathto(master_doc) }}">{{ _('Main Page') }}</a></li></ul>
        {%- if "FAQ" in title %}
            {{ toctree(maxdepth=1) }}
        {% elif "Reference" in title %}
            {{ toctree(maxdepth=2) }}
        {% else %}
            {{ toctree(maxdepth=3) }}
        {%- endif %}
    {%- endblock %}
    {%- block sidebarrel %}
    {%- endblock %}
    {%- block sidebarsourcelink %}
    {%- endblock %}
    {%- if customsidebar %}
    {% include customsidebar %}
    {%- endif %}
  </div>
</div>
{%- endif %}{% endif %}

{% endblock %}
{%- block document %}
<div id="st-results-container"></div>
      <div class="documentwrapper">
      {%- if not embedded %}{% if not theme_nosidebar|tobool %}
        <div class="bodywrapper">
      {%- endif %}{% endif %}
          <div class="body">
            {% block body %} {% endblock %}
          </div>
      {%- if not embedded %}{% if not theme_nosidebar|tobool %}
        </div>
      {%- endif %}{% endif %}
      </div>
    <div class="footer">
    <p>
    {% trans copyright=copyright|e %}&copy; 2010-13, Mailgun Inc.{% endtrans %}
    {%- if last_updated %}
      {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
    {%- endif %}
    {%- if show_sphinx %}
      {% trans sphinx_version=sphinx_version|e %}
           <br>
           Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.
      {% endtrans %}
    {%- endif %}
    </p>
    </div>
{%- endblock %}
{%- block sidebar2 %}{% endblock %}
{%- block relbar2 %}{% endblock %}
{%- block footer %}

    </div> <!-- papper cells -->
  </div> <!-- /content -->
</div> <!-- /container -->

    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/toc.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/jquery.cookie.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/samples.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/underscore-min.js', 1) }}"></script>
    <script type="text/javascript">
        window.underscore = _.noConflict();
    </script>
       
<script type="text/javascript">
  var Swiftype = window.Swiftype || {};
  (function() {
    Swiftype.key = 'dpKXg3Qg6P5paq8LDpDu';
    Swiftype.inputElement = '#st-search-input';
    Swiftype.resultContainingElement = '#st-results-container';
    Swiftype.attachElement = '#st-search-input';
    Swiftype.renderStyle = "overlay";
    

    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = "//swiftype.com/embed.js";
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
  }());
</script>

<script type="text/javascript">
  (function() {
    var timer;
    function waitForSwiftype() {
      if (Swiftype.Util && Swiftype.Util.pingSearchResultClick) {
        clearInterval(timer);
        Swiftype.Util.pingSearchResultClick = function(docId, query, destinationUrl, theWindow) {
          var url = Swiftype.root_url + "/api/v1/public/analytics/pc?engine_key=" + Swiftype.key + "&doc_id=" + docId + "&q=" + query;          
          var queryAnchor = query.replace(/\s+/g, '-').toLowerCase();
          Swiftype.Util.pingUrl(url, destinationUrl + '?highlight=' + query + '#' + queryAnchor, theWindow);
        };
      }
    }
    timer = setInterval(waitForSwiftype, 500);
  })();
  
   $('input[type=\"text\"]').wrap('<span style=\"position:relative;\"></span>').after('<img src=\"{{ pathto('_static/x.png', 1) }}\" heigh=\"17px\" width=\"17px\" style=\"position:absolute; right:5px;top:1px;\" alt=\"\" />');
   $('img').click(function(){$(this).parent().find('input').val('');});
   $("input").focusout(function() {this.value = "";});
</script>

{%- endblock %}

