{% extends "basic/layout.html" %}
{% if corpsite_hostname == ""  %}
  {% set corpsite_hostname = "www.mailgun.com" %}
{% endif %}
{% if cp_hostname == "" %}
  {% set cp_hostname = "app.mailgun.com" %}
{% endif %}
{% set css_url = "_static" %}
{%- block doctype -%}
<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 documentation"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8 documentation"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9 documentation"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="documentation"> <!--<![endif]-->
{%- endblock %}

{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- block linktags %}
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
    {%- endif %}
    {%- if hasdoc('search') %}
    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
    {%- endif %}
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags }}" href="{{ parents[-1].link|e }}" />
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags }}" href="{{ next.link|e }}" />
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags }}" href="{{ prev.link|e }}" />
    {%- endif %}
    <link media="only screen and (max-device-width: 480px)" href="{{ pathto('_static/mobile.css', 1) }}" type="text/css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="_static/img/favicon.png" />

    <link rel="stylesheet" href="{{css_url}}/bootstrap.min.css" />
    <link rel="stylesheet" href="{{css_url}}/top_navigation.css" />
    <link rel="stylesheet" href="{{css_url}}/mg.css" />
    <link rel="stylesheet" href="{{css_url}}/search.css" />
    <meta name="viewport" content="width=device-width">
    {% if corpsite_hostname == "www.website.ninomail.com" %}
    <meta name="robots" content="noindex">
    {% endif %}

{%- endblock %}
{%- block extrahead %}
{{ super() }}

<!-- i2a tracking code-->
<script type="text/javascript"
  src="{{ pathto('_static/i2a.js', 1) }}">
</script>

<!-- GA pageLoadVars -->
<script type="text/javascript">
    var pageLoadVars = {
      'visitor_type' : 'Customer',
      'customer_type' : "",
      'coupon_id' : "",
      'signup_state' : 'Inactive',
      'bamGAVPV' : "",
      'customer_action': []
    }
</script>

{% endblock %}
{%- block header %}{% endblock %}
{%- block relbar1 %}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WN2J6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script type="text/javascript" src="{{ pathto('_static/google_tag_manager.js', 1) }}"></script>

<!-- SVG Icons -->
<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="517" height="32" viewBox="0 0 517 32">
<defs>
<g id="icon-search">
  <path class="path1" d="M0 14.857q0-2.554 0.991-4.884t2.679-4.018 4.018-2.679 4.884-0.991 4.884 0.991 4.018 2.679 2.679 4.018 0.991 4.884q0 3.929-2.214 7.125l6.125 6.125q0.661 0.661 0.661 1.607 0 0.929-0.679 1.607t-1.607 0.679q-0.964 0-1.607-0.679l-6.125-6.107q-3.196 2.214-7.125 2.214-2.554 0-4.884-0.991t-4.018-2.679-2.679-4.018-0.991-4.884zM4.571 14.857q0 3.304 2.348 5.652t5.652 2.348 5.652-2.348 2.348-5.652-2.348-5.652-5.652-2.348-5.652 2.348-2.348 5.652z"></path>
</g>
<g id="icon-menu">
  <path class="path1" d="M0 26.286v-2.286q0-0.464 0.339-0.804t0.804-0.339h25.143q0.464 0 0.804 0.339t0.339 0.804v2.286q0 0.464-0.339 0.804t-0.804 0.339h-25.143q-0.464 0-0.804-0.339t-0.339-0.804zM0 17.143v-2.286q0-0.464 0.339-0.804t0.804-0.339h25.143q0.464 0 0.804 0.339t0.339 0.804v2.286q0 0.464-0.339 0.804t-0.804 0.339h-25.143q-0.464 0-0.804-0.339t-0.339-0.804zM0 8v-2.286q0-0.464 0.339-0.804t0.804-0.339h25.143q0.464 0 0.804 0.339t0.339 0.804v2.286q0 0.464-0.339 0.804t-0.804 0.339h-25.143q-0.464 0-0.804-0.339t-0.339-0.804z"></path>
</g>
<g id="icon-dropdown">
  <path d="M124.452,10.121 L118.343,4.01 C116.225,2.001 113.753,0.996 110.93,0.996 C108.05,0.996 105.606,2.001 103.596,4.01 L64,43.607 L24.404,4.011 C22.394,2.002 19.95,0.997 17.071,0.997 C14.247,0.997 11.775,2.002 9.657,4.011 L3.628,10.122 C1.564,12.185 0.532,14.657 0.532,17.536 C0.532,20.469 1.565,22.913 3.628,24.868 L56.667,77.907 C58.623,79.971 61.066,81.003 64,81.003 C66.879,81.003 69.35,79.971 71.413,77.907 L124.452,24.868 C126.462,22.858 127.468,20.414 127.468,17.536 C127.468,14.711 126.462,12.24 124.452,10.121 L124.452,10.121 Z" id="Shape" sketch:type="MSShapeGroup"></path>
</g>
</defs></svg>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid utility-menu">
        <div class="row">
            <div class="nabvar-right">
                <ul class="list-unstyled list-inline navbar-right">
                    <li>
                        <a href="https://www.mailgun.com/blog">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mailgun.com/jobs" target="_blank">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mailgun.com/partners">
                            Partners
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mailgun.com/contact">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="https://app.mailgun.com/app/dashboard">
                            Log In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container-fluid header-valign-padding">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="top-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.mailgun.com" class="logo">
                <img src="{{css_url}}/img/mailgun-primary-no-tag.svg" class="img-responsive" alt="Mailgun Technologies">
            </a>
        </div>
        <div id="top-navbar" class="navbar-collapse collapse navbar-right header-valign">
            <ul id="menu-top-menu" class="nav navbar-nav">
                <li>
                    <a href="https://www.mailgun.com/pricing">Pricing</a>
                </li>
                <li class="dropdown-item"><a href="https://www.mailgun.com/email-api">Products</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.mailgun.com/email-api">Email API</a></li>
                        <li><a href="https://www.mailgun.com/email-validation">Email Validation</a></li>
                        <li><a href="https://www.mailgun.com/managed">Deliverability Services</a></li>
                        <li><a href="https://www.mailgun.com/rapid-fire-throughput">Rapid Fire Burst Sending</a></li>
                    </ul>
                </li>
                <li class="dropdown-item"><a href="https://www.mailgun.com/sending-email">Solutions</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.mailgun.com/deliverability">Deliverability</a></li>
                        <li><a href="https://www.mailgun.com/smtp">SMTP</a></li>
                        <li><a href="https://www.mailgun.com/email-marketing">Email Marketing</a></li>
                        <li><a href="https://www.mailgun.com/sending-email">Email Sending</a></li>
                        <li><a href="https://www.mailgun.com/email-parsing-software">Email Parsing</a></li>
                        <li><a href="https://www.mailgun.com/transactional-email">Transactional Email</a></li>
                    </ul>
                </li>
                <li class="dropdown-item"><a href="https://documentation.mailgun.com">Docs</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.mailgun.com/blog">Blog</a></li>
                        <li><a href="https://documentation.mailgun.com/en/latest/quickstart.html">Quickstart Guide</a></li>
                        <li><a href="https://documentation.mailgun.com">Docs & User Manual</a></li>
                        <li><a href="https://info.mailgun.com/hubfs/Quantum%20Response%20Network_Case%20Study.pdf" target="_blank">Case Study (PDF)</a></li>
                        <li><a href="https://www.mailgun.com/guides">Guides</a></li>
                        <li><a href="https://www.mailgun.com/videos">Videos</a></li>
                    </ul>
                </li>
                <li><a href="https://www.mailgun.com/managed">Managed</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-buttons">
                <li><a href="https://signup.mailgun.com/" class="signup-link"><b>SIGN UP</b></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- /header -->

<div id="body">
  <section class="subnav">
    <div class="container-fluid subnav-alignment">
      <a href="https://github.com/mailgun/documentation" class="edit-docs-link" onclick="mixpanel.track('Clicked Edit Docs Link');">Edit</a>
      <ul id="headerButtons" class="nav nav-pills">
        <li class="lang-label">
          Code sample preference:
        </li>
        <li class="lang">
          <a href="" id="lang_bash" >curl</a>
        </li>
        <li class="lang">
          <a href="" id="lang_rb" >Ruby</a>
        </li>
        <li class="lang">
          <a href="" id="lang_py" >Python</a>
        </li>
        <li class="lang">
          <a href="" id="lang_php" >PHP</a>
        </li>
        <li class="lang">
          <a href="" id="lang_java" >Java</a>
        </li>
        <li class="lang">
          <a href="" id="lang_csharp" >C#</a>
        </li>
        <li class="lang">
          <a href="" id="lang_go" >Go</a>
        </li>
        <li class="lang">
          <a href="" id="lang_js" >Node.js</a>
        </li>

        {%- block sidebarsearch %}
        {%- if pagename != "search" %}
        <div id="search" role="search" class="search-box">
          <form action="{{ pathto('search') }}" method="get">
            <svg class="icon icon-search" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
            <input name="q" type="search" id="st-search-input" class="prettysearch search-input" autofocus />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
        </div>
        {%- endif %}
        {%- endblock %}
      </ul>
    </div>
  </section>

  <section class="main">

    <div class="container">


  {% endblock %}

  {%- block sidebar1 %}
  {%- if not embedded %}{% if not theme_nosidebar|tobool %}
  <aside id="sphinxsidebar" class="docs-sidebar">
    <div class="sphinxsidebarwrapper">
      {%- block sidebarlogo %}
      {%- if logo %}
        <p class="logo"><a href="{{ pathto(master_doc) }}">
          <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Mailgun Technologies"/>
        </a></p>
      {%- endif %}
      {%- endblock %}
      {%- block sidebartoc %}
        <ul><li class="toctree-l1"><a href="{{ pathto(master_doc) }}">{{ _('Docs Home') }}</a></li></ul>
          {%- if "FAQ" in title %}
              {{ toctree(maxdepth=1) }}
          {%- elif "Quickstart" in title %}
              {{ toctree(maxdepth=2) }}
          {% elif "Reference" in title %}
              {{ toctree(maxdepth=2) }}
          {% else %}
              {{ toctree(maxdepth=3) }}
          {%- endif %}
      {%- endblock %}
      {%- block sidebarrel %}
      {%- endblock %}
      {%- block sidebarsourcelink %}
      {%- endblock %}
      {%- if customsidebar %}
      {% include customsidebar %}
      {%- endif %}
      <div class="admonition note">You can find your API Key in your <a href="https://app.mailgun.com/app/dashboard" target="_blank">Control Panel</a></div>
    </div>
  </aside>
  {%- endif %}{% endif %}

  {% endblock %}
  {%- block document %}
  <div id="st-results-container"></div>
        <div class="documentwrapper">
        {%- if not embedded %}{% if not theme_nosidebar|tobool %}
          <div class="bodywrapper">
        {%- endif %}{% endif %}
            <div class="body">
              {% block body %} {% endblock %}
            </div>
        {%- if not embedded %}{% if not theme_nosidebar|tobool %}
          </div>
        {%- endif %}{% endif %}
    </div>
  {%- endblock %}
  {%- block sidebar2 %}{% endblock %}
  {%- block relbar2 %}{% endblock %}
  {%- block footer %}

    </div> <!-- /content -->
  </section> <!-- /container -->
</div> <!-- /body -->

    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/bootstrap.min.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/toc.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/jquery.debounce.min.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/jquery.cookie.min.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/jquery.viewport.min.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/samples.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/scroll_hash.js', 1) }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ pathto('_static/underscore-min.js', 1) }}"></script>
    <script type="text/javascript">
        window.underscore = _.noConflict();
    </script>


<!-- Ace editor for editable code -->
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

  // highlight nav on load
  $(document).ready(function(){
      $('.docs-sidebar li').removeClass('active');
      $('.docs-sidebar ul.current li.current a.current').parent().addClass('active');
  });

  // Make sample code snippets editable in the browser
  $('.highlight pre').click(function(){
    ace_activate(this);
  });

  // Ace editor activation
  function ace_activate(container) {
    var editor = ace.edit(container);
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/sh");
    editor.setShowPrintMargin(false);
    editor.renderer.setShowGutter(false);
    editor.setHighlightActiveLine(false);
    editor.getSession().setUseWrapMode(true);
    editor.setBehavioursEnabled(false);
    $(container).height(editor.getSession().getScreenLength() * 20);
  }

</script>

<!-- User information insertion code-->
<script type="text/javascript">
  var cp_hostname = "{{cp_hostname}}";
</script>

<script type="text/javascript"
  src="{{ pathto('_static/insert-api-key.js', 1) }}">
</script>

{%- endblock %}
