/********************
*
* top navigation styles
*
********************/

/* mobile */
nav {
	padding: 31.5px 20px
}

.styled-wrapper {
	margin: 0px auto;
	position: relative;
}

.styled-nav-elements {
	-webkit-box-pack: justify;
	display: flex;
    justify-content: space-between;
}

.styled-logo {
	-webkit-box-align: center;
	-webkit-box-pack: justify;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.styled-hamburger {
	-webkit-box-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.styled-lists {
    display: none;
}

.styled-lists.active { 
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	box-shadow: rgba(10, 22, 70, 0.1) 0px 1px 1px 0px, rgba(10, 22, 70, 0.06) 0px 0px 1px 0px, rgba(5, 15, 54, 0.08) 0px 28px 70px -7px;
	display: block;
	flex-direction: column;
	padding-bottom: 0px;
	position: absolute;
	top: 60px;
	transform: translateX(0);transition: 0.5s; 
	width: 100%;
	z-index: 1000;
}

.navbar-nav>li>a {
	line-height: 20px;
	padding: 20px 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: initial;
}

.nav-elements {
	-webkit-box-pack: justify;
	display: flex;
	justify-content: space-between;
	padding: 31.5px 20px;
}

.styled-hamburger {
	-webkit-box-align: center;
	-webkit-user-select: none;
	align-items: center;
	color: #000000;
	cursor: pointer;
	display: flex;
	user-select: none;
}

.styled-hamburger p {
	margin-bottom: 0px;
}

span.styled-box {
	-webkit-box-align: center;
    align-items: center;
	display: flex;
	height: 14px;
    position: relative;
    width: 18px;
}

span.styled-inner {
	-webkit-box-align: center;
	align-items: center;
	background-color: #000000;
	content: "";
	display: flex;
	height: 2px;
	margin-top: -1px;
	position: absolute;
	top: 1px;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	width: 18px;
}

span.styled-inner:before {
	top: 6px;
    transition: opacity 0.15s ease 0.4s;
}

span.styled-inner:after {
    top: 12px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

span.styled-inner:before, span.styled-inner:after {
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	content: "";
	height: 2px;
	left: 0px;
	position: absolute;
	transition-property: transform;
	width: 18px;
}

button.styled-wrapper {
	background-color: #fff;
	border-width: 0px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	margin: 0px;
	overflow: visible;
	padding-left: 12px;
	text-transform: none;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	transition-timing-function: linear;
}

.styled-link-list-element {
	-webkit-box-pack: start;
	border-bottom: 1px solid #ebedee;
	flex-direction: column;
	justify-content: flex-start;
	white-space: nowrap !important;
	padding: 20px 24px;
	width: 100%;
}

.styled-link-list-element:hover {
	cursor: pointer;
}

.styled-button-list > .styled-link-list-element {
	border-bottom: none !important
}

.styled-link {
	-webkit-box-pack: justify;
	color: rgb(10, 31, 68);
	display: flex;
	font-size: 14px;;
	font-weight: 500;
	justify-content: space-between;
	line-height: 1.71;
}

.styled-link:active, .styled-link:hover {
	color: initial;
}

.styled-li {
	padding: 20px 24px;
}

.styled-title, .styled-subtitle {
	margin-bottom: 0;
}

.styled-subtitle {
	color: rgb(78, 93, 120);
    font-size: 12px;
    line-height: 1.67;
}

.styled-flex-container {
	display: flex;
	padding: 0 0;
    white-space: normal;
}

.styled-icon {
	margin-right: 24px;
}

.icon {
	fill: #C02428;
}

nav a.primary {
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(192, 36, 40);
	border-radius: 200px;
	border: 1px solid rgb(154, 29, 32);
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	justify-content: center;
	padding: 8px 24px;
	text-align: center;
}

nav a.primary:hover,
nav a.primary:focus {
  background-color: rgb(173, 32, 36);
}

nav a.link{
	-webkit-box-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	border-radius: 0px;
	color: rgb(98, 112, 135);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	font-weight: normal;
	justify-content: center;
	padding: 8px 24px;
	text-align: center;
}

nav a.link:hover,
nav a.link:focus {
	color: rgb(0, 0, 0);
}

.styled-button-list {
	-webkit-box-pack: justify;
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 24px 24px 0;
	text-align: center;
}

/* boostrap overrides for mobile */
nav ol, nav ul {
    list-style: none;
}

.styled-lists.collapse.in {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: rgba(10, 22, 70, 0.1) 0px 1px 1px 0px, rgba(10, 22, 70, 0.06) 0px 0px 1px 0px, rgba(5, 15, 54, 0.08) 0px 28px 70px -7px;
	display: flex !important;
	flex-direction: column;
	left: 0;
	position: absolute;
	top: 70px;
	width: 100%;
	z-index: 1000;
}

/* bootstrap override for tablet */
@media (min-width: 768px) {
	.navbar-collapse.collapse {
		display: none!important;
	}
}

/* desktop */
@media screen and (min-width: 1024px) {
	nav {
		display: block;
		padding: 0px 0px;
	}

	nav ul {
		list-style: none;
	}

	.styled-hamburger {
		display: none;
	}

	button.styled-wrapper {
		display: none;
	}

	.navbar-docs {
		background-color: #fff;
		border-bottom: 1px solid #eaebf0;
		display: block;
		font-family: "Inter UI", sans-serif;
		font-weight: 400;
		height: 89px;
		left: 0px;
		margin: auto auto;
		max-width: 1240px;
		top: 0px;
		width: 100%;
		position: sticky;
		z-index: 1000;
	}

	.nav-elements {
		padding: 0 0;
		width: 100% !important;
	}

	.styled-wrapper {
		display: flex;
		height: 89px;
		margin: 0px auto;
		max-width: 1240px;
		padding: 0px;
		position: relative;
	}

	.styled-logo {
		height: 32px;
		margin: auto 0;
		width: auto! important;
	}

	.styled-nav-elements {
		width: 100%;
	}

	.styled-lists {
		-webkit-box-pack: justify;
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: initial;
		width: 100%;
	}

	.styled-link-list {
		-webkit-box-align: center;
		-webkit-box-pack: justify;
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0px auto !important;
		padding-left: 18px !important;
	}

	li.styled-link-list-element {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		align-items: center;
		border-bottom: none;
		display: flex;
		height: calc(100% + 16px);
		justify-content: center;
		margin-right: 32px;
		padding: 0px 0px;
		position: relative;
		
	}

	.styled-link {
		-webkit-box-align: center;
		align-items: center;
		color: rgb(98, 112, 135);
		font-size: 14px;
	}

	.main-icon {
		margin-left: 4px;
	}

	.styled-submenu > .styled-li > .styled-link {
		padding: 0px 0px;
	}

	.styled-link:hover,
	.styled-link:focus {
		background-color: none;
		color: rgb(0, 0, 0);
	}

	.styled-flex-container {
		padding: 0 0;
	}

	.styled-submenu {
		background-color: rgb(255, 255, 255);
		border-radius: 8px;
		box-shadow: rgba(10, 22, 70, 0.1) 0px 1px 1px 0px, rgba(10, 22, 70, 0.06) 0px 0px 1px 0px, rgba(5, 15, 54, 0.08) 0px 28px 70px -7px;
		opacity: 0;
		padding: 0 0 !important;
		pointer-events: all;
		transform: initial;
		transition: 0ms;
		width: 308px;
		z-index: 1000;
	}

	.styled-submenu li {
		display: block;
		padding: 12px 32px;
	}

	.styled-submenu.two-columns {
		display: flex;
		flex-wrap: wrap;
		width: 600px;
	}

	.styled-submenu.two-columns li {
		width: 50%;
	}

	.styled-li {
		padding: 0px 0px;
		position: relative;
		transition: all 250ms ease 0s;
	}

	.styled-li:hover {
		background-color: #f5f8fa;
		border-left: 3px solid #c02428;
	}

	.styled-title {
		color: #0a1f44;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.71;
		margin-bottom: 0;
	}

	.styled-subtitle {
		color: #4e5d78;
		font-size: 12px;
		line-height: 1.67;
		margin-bottom: 0px;
	}

	ul li ul {
		display: none;
		left: 0;
		opacity: 0;
		position: absolute;
		transition: all 0.5s ease;
		visibility: hidden;
	}

	ul li:hover > span ul,
	ul li span ul:hover {
		display: block;
		opacity: 1;
		transition: all 0.5s ease;
		visibility: visible;
		z-index: 1000;
	}

	span.styled-span {
		position: absolute;
		top: 75px;
		width: 308px;
		z-index: 200;
	}

	nav a.link{
		padding: 8px 24px !important;
	}

	.styled-button-list {
		flex-direction: row;
		padding: 0 0;
		text-align: start;
		white-space: nowrap !important;
	}

	.documentation ul, .documentation ol {
		padding: intiial !important;
	}
}

/* bootstrap overrides for desktop */
.navbar-collapse.collapse {
    display: flex !important;
}

.navbar-nav>li>a {
	line-height: 20px;
	padding: 0 0;
}