.documentation #body{
    padding-top: 90px;
}
@media only screen and (min-width: 768px) and (max-width:1279px) {
    .documentation #body {
        padding-top: 98px;
    }
}
@media only screen and (max-width: 767px) {
    .documentation #body {
        padding-top: 56px;
    }
}