/********************
*
* top navigation styles
*
********************/
body { padding-top:108px; }
.navbar-default { border-bottom:none; }
.navbar-default .navbar-nav > li > a {
	font-size: 15px;
	text-transform: uppercase;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { border-bottom:1px solid #e7e8ef; }
.logo {
	width: 33%;
	display: block;
	height: auto;
	position: relative;
	left: 15px;
}
.nav-buttons { text-align:center; }
.nav-buttons li { display:inline-block; }
a.signup-link, a.login-link {
	width: auto;
	border-bottom: 1px solid #626262;
	color: #626262;
	font-size: 13.5px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 0;
	padding: 0;
}
a.signup-link, a.login-link { border-bottom:none; }
a b {
	border-bottom: 3px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-weight: 600
}
a.login-link { padding:0; }
a.login-link b {
	border: 1px solid #626262;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-left: 14px;
	padding-right: 14px
}
a.login-link:hover b {
	background: #4b6cb7;
	border-color: #4b6cb7;
	color: #fff
}
a.signup-link {
	padding: 0;
	margin-top: 1px;
}
a.signup-link b {
	background: #eb284f;
	border: 1px solid #eb284f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	padding-left: 14px;
	padding-right: 14px
}
a.signup-link:hover b, a.signup-link:focus b {
	background: #ea1a44;
	border-color: #ea1a44;
	-moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4)
}
a.signup-link:active b {
	-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 1px
}
.navbar-nav { margin:0; }
.navbar-nav > li > .dropdown-menu { display:block; }
.dropdown-menu {
	position: relative;
	float: none;
	min-width: 100%;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.dropdown-menu > li > a {
	padding: 3px 30px;
	line-height: 31px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #626262;
}
.dropdown-item:after {
	content: "\f078";
	font-family: FontAwesome;
	position: absolute;
	right: 16px;
	top: 12px;
	font-size: 10px;
	color: #626262;
}

.utility-menu {
	background: #f8f8f8;
	border-bottom:1px solid #e7e8ef;
	margin: 0;
	padding: 0;
}
.utility-menu a {
	color: #626262;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 5px;
}
.utility-menu a:hover { color:#eb284f; }
.utility-menu .navbar-right {
	text-align: center;
	margin: 5px 0;
}

@media screen and (min-width: 768px) {
	
	.logo { width:135px; }
	.header-valign-padding {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.header-valign > ul {
		display: table;
		height: 54px;
		margin: 0;
		padding: 0;
	}
	.header-valign > ul > li {
		display: table-cell !important;
		height: 27px;
		vertical-align: middle;
		float: none !important;
	}
	.navbar-default {
		height: 108px;
		border-bottom:1px solid #e7e8ef;
		padding: 0;
		margin: 0;
	}
	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color:#eb284f; }
	a.signup-link, a.login-link {
		border-bottom: none;
		padding: 0;
		position: relative;
		z-index: 999;
	}
	.navbar-nav a:hover:after { border-bottom-color:#626262; }
	.navbar-nav a.signup-link:hover:after, a.login-link:hover:after { border-bottom:none; }
	.navbar-nav a.login-link { padding-right:8px !important }
	.navbar-default .navbar-nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
	.utility-menu .navbar-right { margin:5px 50px 5px 0; }
	.utility-menu ul li:last-of-type, .utility-menu ul li:last-of-type > a { padding-right: 0; }
	.navbar-nav .dropdown-menu a:after { content:none; }
	.navbar-nav > li > .dropdown-menu { display:none; }
	.navbar-nav > li:hover> .dropdown-menu { display:block; }
	.navbar-right .dropdown-menu { right:auto !important; }
	.dropdown-menu {
		min-width: 220px;
		position: absolute;
		border-radius: 6px;
		box-shadow: 0 2px 10px rgba(0,0,0,0.2);
		transform: translateY(0);
		opacity: 1;
		top: 45px;
	}
	.dropdown-item:after {
		display:none;
	}
	.dropdown-item:hover:after { color:#eb284f; }
}

@media screen and (min-width:980px){
	.dropdown-item:after {
		display: block;
		top: 21px;
		right: 3px;
	}
}

@media screen and (min-width: 1024px) {
	.navbar-right { float:right !important; }
	.navbar-default .navbar-nav > li > a { padding:0 19px; }
	.navbar-nav a.login-link { padding-left:15px; }
}


/********************
*
* bootstrap overrides
*
********************/
.navbar-default { background:#fff; }
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse { border:none; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none;}
.navbar-toggle .icon-bar { background:#626262; }
.navbar-default .navbar-right.nav-buttons li a { line-height:31px; }
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus { color: #626262; }
.navbar-default .navbar-nav > li > a:hover { color:#eb284f; }